.btn-gradient {
    display: inline-block;
    justify-content: center;
    color: white;
    padding: 8px 24px;
    margin: 10px;
    width: 25%;
    /* border-radius: 10px; */
    /* font-weight: bold; */
    background: linear-gradient(#851412, #B23029);
    transition: background 0.3s ease;
    border: 1px solid black;
}

.btn-gradient:hover {
    background: black;
    color: white;
    border-color: white;

}
